@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}

body {
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    font-weight: 300;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.input-group .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2980b9;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #aaa;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f5f5f5;
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.google-button ion-icon {
    margin-right: 8px;
    color: red;
}

.google-button:hover {
    background-color: #f2f2f2;

}

.register {
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #3498db;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
