@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display'); /* Estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222;
    background-color: #f4f4f4;
}

h2 {
    font-weight: 300;
    color: #111;    
}

a {
    text-decoration: none;
    color: inherit;
}

/* Cabeçalho */
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    height: 70px;
    display: flex;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-weight: 500;
}

nav ul li .btn {
    background-color: #00d473;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li .btn:hover {
    background-color: #0056b3;
}

/* Hero Section */
.hero {
    height: calc(100vh - 130px);
    background: linear-gradient(to right, #00d473, #afffa7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #fff;
    color: #00d473;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #00d473;
    color: #fff;
}

/* Rodapé */
footer {
    background-color: #00d473;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #111;
}

/* Menu Responsivo */
.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
    /* Escondido no desktop */
}

/* Ocultar menu no mobile por padrão */
.hidden {
    display: none;
}

/* Menu Mobile */
.mobile-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    text-align: right;
}

.mobile-menu ul {
    list-style: none;
    padding: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
    font-weight: 500;
    text-decoration: none;
}

.mobile-menu ul li a {
    color: #00d473;
    font-weight: 500;
    text-decoration: none;
}

/* Exibir o menu mobile quando visível */
.mobile-menu.hidden {
    display: none;
}

/* Estilo básico do botão de entrar no header */
.login-btn {
    background-color: #00d473;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #009953;
}

/* Layout do Header no Mobile */
@media (max-width: 768px) {
    .container {
        justify-content: space-between;
    }

    nav ul {
        display: none;
        /* Esconder o menu regular no mobile */
    }

    /* Exibir o ícone de menu no mobile */
    .menu-icon {
        display: block;
    }

    /* Centralizar o logo e reorganizar os elementos */
    .logo {
        font-size: 22px;
    }

    .login-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}
